<!DOCTYPE html>
<html>
<head>
<title>Pic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<link rel='stylesheet' href="{{ url_for('static', filename='pic.css') }}"/>
</head>
<body>
    <div class='jumbotron'>
    <h1 class='centre'>Create an Account or Sign-in</h1>
    <div class='container'>
        <form action='/account' method='POST'>
            <input name='user' type=text placeholder=Username... class="form form-control"/><br>
            <input name='ps' type=password placeholder=Password... class="form form-control"/><br>
            <input type='submit' value="Sign-in or Create" class="btn btn-block btn-primary"/>
        </form>
    </div>
    </div>
</body>
</html>
